.navbar-brand
{
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 15px
}

.nav-link
{
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 15px;
    box-sizing: border-box;
}

.nav-link:hover, .nav-link:hover
{
    color: var(--bs-nav-link-hover-color);
}

a:hover
{
    background: black;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 0px 0px 5px currentColor;
}

body
{
    background-image: url("/assets/images/ConcreteFloor003.png");
    background-position: center;
    background-size: auto;
}

p
{
    font-family: 'Roboto Mono', monospace;
}

.steam-button
{
    margin-right: 20px;
}

.container, .row
{
    
    text-align: center;
    padding: 10px;
    width: 100%;
}

.about
{
    background-image: url("/assets/images/TF2StoneWallTexture.jpeg");
}  

.background-image
{
    background-image: url("/assets/images/2fort.jpeg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 700px;
}

div
{
    display: block;
}

.present-image
{
    background-image: url("/assets/images/DaysSinceLastUpdate.jpg");
}

.container-fluid
{
    
    margin: 0%;
}

.history-text-one
{
    background-image: url("/assets/images/TF2StoneWallTexture.jpeg");
}

.history-text-two
{
    padding-left: 60px;
    text-align: left;
}

.history-text-three
{
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}

.TeamFortressClassicImage
{
    width: 600px;
    padding-top: 20px;
}