.navbar-brand
{
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 15px
}

.nav-link
{
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 15px;
}

.nav-link:hover, .nav-link:hover
{
    color: var(--bs-nav-link-hover-color);
}

a:hover
{
    background: black;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 0px 0px 5px currentColor;
}

body
{
    background-image: url("/assets/images/ConcreteFloor003.PNG");
    background-position: center;
    background-size: auto;
}

p
{
    font-family: 'Roboto Mono', monospace;
}

.steam-button
{
    margin-right: 20px;
}

.container, .row
{
    
    text-align: center;
    padding: 10px;
    width: 100%;
}

.about2
{
    background-image: url("/assets/images/TF2StoneWallTexture.JPG");
    padding-bottom: 2%;
}  

.background-image
{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    margin-left: 15%;
}

div
{
    display: block;
}

.present-image
{
    background-image: url("/assets/images/DaysSinceLastUpdate.JPG");
}

.container-fluid
{
    
    margin: 0%;
}

.history-text-one
{
    background-image: url("/assets/images/TF2StoneWallTexture.JPG");
}

.history-text-two
{
    text-align: center;
    padding-top: 25px;
    text-decoration: underline;
}

.history-text-twohalf
{
    font-family: 'Open Sans', sans-serif;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 65px;
    text-decoration: none;
}

.history-text-three
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 30px;
    padding-bottom: 70px;
    padding-top: 0px;
    padding-left: 80px;
    padding-right: 80px;
}

.TeamFortressClassicImage
{
    width: 600px;
    padding-top: 15px;
    padding-right: 120px;
}

.AboutText
{
    font-family: 'Open Sans', sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}

.AboutText2
{
    font-family: 'Open Sans', sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 45px;
}

.text-center
{
    text-decoration: underline;
    padding-top: 45px;
}

.UpdateImage
{
    background-image: url("/assets/images/DaysSinceLastUpdate.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 700px;
}

.diugh1
{
    width: 100%;
}

img {
    position: absolute;
    top: 100px;
  }
  .imgA1 {
    z-index: 1;
  }
  .imgB1 {
    z-index: 2;
    top: 849px;
    width: 100%;
    object-fit:cover;
    object-position:50% 50%;
  }
  .imgZ1 {
    z-index: 3;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }